.hint {
    position: absolute;
    width: 320px;
    background: rgba(255,255,255,.93);
    box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    height: auto;  
    padding-bottom:30px;
    z-index:2;
    margin: 20px;
    margin-top: 0px;
    line-height: 20px;
    cursor: move;
} 

.hint.from-bottom:after,
.hint.from-top:after
{
    content: "";
    width: 0; 
	height: 0; 
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    position:absolute;
    left: 10px; 
}

.hint.from-bottom:after {
	border-top: 10px solid rgba(255,255,255,1);
    bottom: -10px;
    -webkit-filter: drop-shadow(0px 1px 0px rgba(0,0,0,.3));
}

.hint.from-top:after {
	border-bottom: 10px solid rgba(41,171,226,1);
    top: -10px;
    -webkit-filter: drop-shadow(0px -1px 0px rgba(0,0,0,.3));
}

.hint.from-bottom.from-right:after {
    right: 10px; 
    left: auto;
}

.hint.from-top.from-right:after {
    right: 10px; 
    left: auto;
}

.hint-title {
    width: 100%;
    background:rgba(41,171,226,1);
    padding: 10px;
    padding-right: 20px;
    color: white;
    min-height: 25px;
    font-family: "locator", arial, helvetica, sans-serif;
}

.hint p {
    text-align: left; 
    line-height: 1.2em;
    color: #666;
    padding: 10px;
}

.hint .close-hint {
    position: absolute;
    right: 10px;
    top: 9px;
    width: auto;
    height: auto;
    font-family: arial;
    cursor: pointer;
    padding-top: 0px;
    color: white;
}

.hint .close-hint:hover {
    color: red;
}

.hint button {
    height: 30px;
    width: auto;
    padding: none;
    box-shadow: none;
    border: none;
    background: none;
    color: #666666;
    border: none;
    position: absolute; 
    bottom: 5px; 
    text-shadow: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 10px;
    font-size: .8em;
}


.hint button.next {
    right: 5px;
    top: auto;
}

.hint button.end-tut {
    right: 5px;
    top: auto;
}

.hint button.next:hover {
    -webkit-transform: translateX(2px);
    -webkit-transition: -webkit-transform .25s;
}

.hint button.prev:hover {
    -webkit-transform: translateX(-2px);
    -webkit-transition: -webkit-transform .25s;
}

.hint button.prev {
    left: 5px;
}

.hint button:active {
    margin: auto;
    color: #29ABE2;
}